In [1]:
from config import CLIENT_ID, CLIENT_SECRET, REDIRECT_URI
import json
import requests
import pandas as pd

In [13]:
BASE_URL = 'https://api.spotify.com/v1/tracks/'
AUTH_URL = 'https://accounts.spotify.com/api/token'

In [3]:
df = pd.read_csv('surprise_songs.csv')

In [4]:
df.head()

,City,Night,City_Night,Date,Week Day,Surprise Song 1,Suprise Song 1 URI,Surprise Song 2,Suprise Song 2 Code
0,"Glendale, AZ",1,"Glendale, AZ Night 1",March 17,Friday,mirrorball,0ZNU020wNYvgW84iljPkPP,Tim McGraw,0Om9WAB5RS09L80DyOfTNa
1,"Glendale, AZ",2,"Glendale, AZ Night 2",March 18,Saturday,State Of Grace (Taylor's Version),5lFDIbYMcFHPPgzMcnPqSz,this is me trying,7kt9e9LFSpN1zQtYEl19o1
2,"Las Vegas, NV",1,"Las Vegas, NV Night 1",March 24,Friday,Our Song,15DeqWWQB4dcEWzJg15VrN,Snow On The Beach (feat. Lana Del Rey),1wtOxkiel43cVs0Yux5Q4h
3,"Las Vegas, NV",2,"Las Vegas, NV Night 2",March 25,Saturday,cowboy like me,1XjHRolIXL2M1EEOUsGGR4,White Horse (Taylor's Version),5YL553x8sHderRBDlm3NM3
4,"Arlington, TX",1,"Arlington, TX Night 1",March 31,Friday,Sad Beautiful Tragic (Taylor's Version),21SralRv4ucDT3i1rYrr85,Ours,1EQn3Uc5AyUXoiPLeyCrrg

In [5]:
df = df.rename(columns={'Suprise Song 2 Code': 'Suprise Song 2 URI'})

In [6]:
df.head()

,City,Night,City_Night,Date,Week Day,Surprise Song 1,Suprise Song 1 URI,Surprise Song 2,Suprise Song 2 URI
0,"Glendale, AZ",1,"Glendale, AZ Night 1",March 17,Friday,mirrorball,0ZNU020wNYvgW84iljPkPP,Tim McGraw,0Om9WAB5RS09L80DyOfTNa
1,"Glendale, AZ",2,"Glendale, AZ Night 2",March 18,Saturday,State Of Grace (Taylor's Version),5lFDIbYMcFHPPgzMcnPqSz,this is me trying,7kt9e9LFSpN1zQtYEl19o1
2,"Las Vegas, NV",1,"Las Vegas, NV Night 1",March 24,Friday,Our Song,15DeqWWQB4dcEWzJg15VrN,Snow On The Beach (feat. Lana Del Rey),1wtOxkiel43cVs0Yux5Q4h
3,"Las Vegas, NV",2,"Las Vegas, NV Night 2",March 25,Saturday,cowboy like me,1XjHRolIXL2M1EEOUsGGR4,White Horse (Taylor's Version),5YL553x8sHderRBDlm3NM3
4,"Arlington, TX",1,"Arlington, TX Night 1",March 31,Friday,Sad Beautiful Tragic (Taylor's Version),21SralRv4ucDT3i1rYrr85,Ours,1EQn3Uc5AyUXoiPLeyCrrg

In [7]:
df.isna().sum()

City                  0
Night                 0
City_Night            0
Date                  0
Week Day              0
Surprise Song 1       0
Suprise Song 1 URI    0
Surprise Song 2       0
Suprise Song 2 URI    0
dtype: int64

In [30]:
surprise1 = df['Suprise Song 1 URI'].values.tolist()
surprise2 = df['Suprise Song 2 URI'].values.tolist()

In [9]:
ex = '0Om9WAB5RS09L80DyOfTNa'

In [11]:
# POST

auth_response = requests.post(AUTH_URL, {
    'grant_type': 'client_credentials',
    'client_id': CLIENT_ID,
    'client_secret': CLIENT_SECRET,
})

# convert the response to JSON
auth_response_data = auth_response.json()

# save the access token
access_token = auth_response_data['access_token']

In [12]:
headers = {
    'Authorization': 'Bearer {token}'.format(token=access_token)
}

In [31]:
surprise1_info = []
for i in suprise1:
    res = requests.get(BASE_URL+i, headers=headers)
    
    surprise1_info.append(res.json())

In [34]:
surprise1_pop = []

In [36]:
for i in range (0,len(surprise1_info)):
    surprise1_pop.append(surprise1_info[i]['popularity'])

In [37]:
surprise1_pop

[80,
 58,
 77,
 71,
 56,
 80,
 69,
 71,
 81,
 71,
 70,
 62,
 72,
 71,
 77,
 77,
 72,
 72,
 81,
 74,
 74,
 72,
 70,
 67,
 78,
 86,
 54,
 68]

In [38]:
df["Surprise Night 1 Popularity"] = surprise1_pop

In [39]:
df.head()

,City,Night,City_Night,Date,Week Day,Surprise Song 1,Suprise Song 1 URI,Surprise Song 2,Suprise Song 2 URI,Surprise Night 1 Popularity
0,"Glendale, AZ",1,"Glendale, AZ Night 1",March 17,Friday,mirrorball,0ZNU020wNYvgW84iljPkPP,Tim McGraw,0Om9WAB5RS09L80DyOfTNa,80
1,"Glendale, AZ",2,"Glendale, AZ Night 2",March 18,Saturday,State Of Grace (Taylor's Version),5lFDIbYMcFHPPgzMcnPqSz,this is me trying,7kt9e9LFSpN1zQtYEl19o1,58
2,"Las Vegas, NV",1,"Las Vegas, NV Night 1",March 24,Friday,Our Song,15DeqWWQB4dcEWzJg15VrN,Snow On The Beach (feat. Lana Del Rey),1wtOxkiel43cVs0Yux5Q4h,77
3,"Las Vegas, NV",2,"Las Vegas, NV Night 2",March 25,Saturday,cowboy like me,1XjHRolIXL2M1EEOUsGGR4,White Horse (Taylor's Version),5YL553x8sHderRBDlm3NM3,71
4,"Arlington, TX",1,"Arlington, TX Night 1",March 31,Friday,Sad Beautiful Tragic (Taylor's Version),21SralRv4ucDT3i1rYrr85,Ours,1EQn3Uc5AyUXoiPLeyCrrg,56

In [40]:
surprise2_info = []
surprise2_pop = []

for i in suprise2:
    res = requests.get(BASE_URL+i, headers=headers)
    
    surprise2_info.append(res.json())
    
for i in range (0,len(surprise2_info)):
    surprise2_pop.append(surprise2_info[i]['popularity'])

In [41]:
df["Surprise Night 2 Popularity"] = surprise2_pop

In [42]:
df.head()

,City,Night,City_Night,Date,Week Day,Surprise Song 1,Suprise Song 1 URI,Surprise Song 2,Suprise Song 2 URI,Surprise Night 1 Popularity,Surprise Night 2 Popularity
0,"Glendale, AZ",1,"Glendale, AZ Night 1",March 17,Friday,mirrorball,0ZNU020wNYvgW84iljPkPP,Tim McGraw,0Om9WAB5RS09L80DyOfTNa,80,70
1,"Glendale, AZ",2,"Glendale, AZ Night 2",March 18,Saturday,State Of Grace (Taylor's Version),5lFDIbYMcFHPPgzMcnPqSz,this is me trying,7kt9e9LFSpN1zQtYEl19o1,58,78
2,"Las Vegas, NV",1,"Las Vegas, NV Night 1",March 24,Friday,Our Song,15DeqWWQB4dcEWzJg15VrN,Snow On The Beach (feat. Lana Del Rey),1wtOxkiel43cVs0Yux5Q4h,77,83
3,"Las Vegas, NV",2,"Las Vegas, NV Night 2",March 25,Saturday,cowboy like me,1XjHRolIXL2M1EEOUsGGR4,White Horse (Taylor's Version),5YL553x8sHderRBDlm3NM3,71,73
4,"Arlington, TX",1,"Arlington, TX Night 1",March 31,Friday,Sad Beautiful Tragic (Taylor's Version),21SralRv4ucDT3i1rYrr85,Ours,1EQn3Uc5AyUXoiPLeyCrrg,56,65

In [43]:
df.dtypes

City                           object
Night                           int64
City_Night                     object
Date                           object
Week Day                       object
Surprise Song 1                object
Suprise Song 1 URI             object
Surprise Song 2                object
Suprise Song 2 URI             object
Surprise Night 1 Popularity     int64
Surprise Night 2 Popularity     int64
dtype: object